@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Javanese&family=Noto+Sans:ital,wght@0,400;0,600;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

main ul {
    list-style-type: none;
}

header {
    background-color: #cc9900;
    text-align: center;
    padding-bottom: 30px;
}

header a {
    color: white;
    font-size: 36pt;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
}

.card {
    width: 50em;
    border: 1px solid #e1c695;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
}

.card-header {
    color: #cc9900;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    background-color: #f4eada;
    padding: 5px 10 px;
}

.card-main {
    color:;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 12pt;
    font-weight: lighter;
}

nav .material-icons {
    font-size: 36pt;
    margin-bottom: 5px;
}

.main-description {
    color: #cc9900;
    font-size: 12px;
    text-align: center;
}

a {
    text-decoration: none;
}

footer {
    background-color: #cc9900;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}

small .material-icons {
    font-size: 12px;
}

/* alphabet.html */

.alphabet {
    display: flex;
    text-align: center;
}

.alphabet li {
    margin: 0 20px;
}

.carakan {
    font-size: 36pt;
}

.latin {
    font-size: 24pt;
    font-style: italic;
}

article {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}